# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = b_dash_checker.settings

[deploy]
project = 827464
username = ryuji1435